/* navbar */
.navbar-default {
    border-radius: 0;
    background-color: #610119;
    border-color: #610119;
}
/* Title */
.navbar-default .navbar-brand {
    color: #E7E7E7;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #E7E7E7;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #E7E7E7;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #E7E7E7;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #D5D5D5;
    border-bottom-color: #D5D5D5;
}

.navbar-toggle{
    border: 1px #D5D5D5 solid;
    color: #D5D5D5;
}